/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #212121;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 0;
    font-size: 36px;
    color: #fff;
  }
  
  /* Projects Styles */
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    margin-top: 0;
    font-size: 24px;
    color: #337ab7;
  }
  
  /* Skills Styles */
  
  #habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #habilidades li {
    margin-bottom: 10px;
  }
  
  #habilidades i {
    margin-right: 10px;
    font-size: 24px;
    color: #337ab7;
  }
  
  /* Contact Styles */
  
  #contacto {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  #contact-form label {
    margin-bottom: 10px;
  }
  
  #contact-form input, #contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
  }
  
  #contact-form input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #contact-form input[type="submit"]:hover {
    background-color: #23527c;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }